$Text2: #000;

$default-text-color: rgba(30, 30, 30, 1);
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;
$font-weight-regular: 400;
$font-line-height-small: 16px;
$font-letter-spacing: 0.4;
